shared/dist/*.js
shared/dist/*.d.ts
shared/dist/entities/*.js
shared/dist/entities/*.d.ts
node_modules/shared/**/*
node_modules/typescript/**/*
node_modules/.package-lock.json
node_modules/.bin/tsc*
node_modules/.bin/tsserver*
